$maxCoverSize: 257px;

@component artist-info {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #3F413B;
  flex-grow: 1;
  overflow: hidden;
  max-width: $maxCoverSize;
  position: relative;

  @descendent cover-container {
    height: $maxCoverSize;
    width: $maxCoverSize;
    display: flex;
    user-select: none;
    flex-grow: 1;
    position: relative;
  }

  @descendent cover {
    width: 100%;
    height: auto;
    max-height: $maxCoverSize;
    max-width: $maxCoverSize;
    position: absolute;
  }

  @descendent song {
    height: 51px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: $maxCoverSize;
  }

  @modifier title {
    height: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @descendent error {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 40;
  }

}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cover-enter {
  transform: translate(100%);
}
.cover-enter.cover-enter-active {
  transform: translate(0%);
  transition: transform 250ms ease-in-out;
}
.cover-leave {
  transform: translate(0%);
}
.cover-leave.cover-leave-active {
  transform: translate(-100%);
  transition: transform 250ms ease-in-out;
}

@component marquee {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  @modifier content {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    top: -2px;
    padding: 0;
    margin: 0;
    h2 { display: inline; }
  }

  @modifier animate {
    animation: marquee 5s linear infinite;
    animation-delay: 1s;
    animation-direction: alternate;
  }
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  10% { transform: translateX(0%); }
  90% { transform: translateX(-90%); }
  100% { transform: translateX(-90%); }
}
