@import '../css/variables.css';

@component audio-control {

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;

  @modifier btn {
    width: 28px;
    height: 28px;
    background-color: $base_bg_color;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  @modifier progress-container {
    position: absolute;
    top: 50%;
    left: 50%;
  }

  @modifier bg {
    width: 40px;
    height: 40px;
    position: absolute;
    border: none;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .rc-progress-circle {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @modifier play {
    margin-top: 3px;
    margin-left: 1px;
  }

}
