@import 'variables.css';

* {
  box-sizing: border-box;
}

html, body {
  background-color: #D7D7D7;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "eurostile", sans-serif;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
}

h2 {
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight: 700;
  color: rgba(255, 255, 255, .88);
}

h6 {
  font-size: 10px;
  font-weight: 400;
  font-style: italic;
  color: rgba(255, 255, 255, .64);
}
